<!DOCTYPE html>
<html>
	<head>
		<title>MemoSystem</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		<div class="container">
			<h1>Edit Info</h1>
			<form method="POST" action="/edit">
				<input name="uid" type="text" placeholder="id" value="{{uid}}" disabled/>
				<input name="opw" type="password" placeholder="current password"/>
				<input name="npw" type="password" placeholder="new password"/>
				<textarea name="message" placeholder="Type what you want">{{ms}}</textarea>
				<input class="submit" type="submit" value="Save">
			</form>
		</div>
	</body>
	{%with messages = get_flashed_messages()%}
		{%if messages %}
			<script type="text/javascript">
				alert("{{messages[-1]}}");
			</script>
		{%endif%}
  	{%endwith%}
</html>

