<!DOCTYPE html>
<html>
	<head>
		<title>MemoSystem</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		<div class="container">
			<h1>Sign In</h1>
			<form method="POST" action="/signin">
				<input name="uid" type="text" placeholder="id"/>
				<br>
				<input name="upw" type="password" placeholder="pw"/>
				<input class="submit" type="submit" value="Save">
			</form>
			<a href="/signup">register</a>
		</div>
	</body>
	{%with messages = get_flashed_messages()%}
		{%if messages %}
			<script type="text/javascript">
				alert("{{messages[-1]}}");
			</script>
		{%endif%}
  	{%endwith%}
</html>

